body{
    background-color: #2c003e ;
 }
 .wrapper{
     padding-left: 15px;
     padding-right: 15px;
     max-width: 1170px;
     margin: 0 auto;
     position: relative;
 }
 .nav{
     display: flex;
     list-style-type: none;
     padding-left: 0;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 0;
 }
 .navigation{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 36px;
     padding-bottom: 40px;
 
 }
 .nav>li{
     padding-left: 23px;
     margin-left: 22px;
     position: relative;
 }
 nav>li:first-child{
     padding-left: 0;
     margin-left: 0; 
 }
 .nav>li::before{
     content: '';
     display: block;
     width: 2px;
     height: 100%;
     background-color: #f4f4f4;
     position: absolute;
     left: 0;
 }
 .nav>li:first-child::before{
     display: none;
 }
 .nav>li>a{
     text-decoration: none;
     color: #f4f4f4;
 }
 .banner{
     background-image: url(../image/banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     color: #ffffff;
     padding-top: 260px;
     padding-bottom: 285px;
 }
 .terrorist{
     position: absolute;
     right: 0;
     top: -200px;
 }
 .title{
     font-size: 50px;
     margin-bottom: 23px;
 }
 .description{
     font-size: 25px;
     line-height: 30px;
     max-width: 570px;
     font-family: 'Robo', sans-serif;
 }
 .btn{
     display: block;
     color: #ffffff;
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
     text-transform: uppercase;
     border: 2px solid #ffffff;
     padding: 16px 0;
     max-width: 190px;
     text-align: center;
 }
 .h2{
     font-size: 45px;
     color: #f4f4f4 ;
     text-transform: uppercase;
     font-weight: 700;
     text-align: center;
     position: relative;
     padding-right: 127px;
     padding-left: 127px;
     margin-bottom: 20px;
 }
 .h2 + p{
     font-size: 20px;
     color: #f4f4f4;
     font-family: 'Robo', sans-serif;
     text-align: center;
     margin: 0;
 }
 .menu{
     display: flex;
     justify-content: center;
     list-style-type: none;
     padding-left: 0;
 }
 .menu > li{
     padding-left: 20px;
     padding-right: 20px;
     position: relative;
 }
 .menu>li::before{
     content: '';
     display: block;
     width: 2px;
     height: 100%;
     background-color: #f4f4f4;
     position: absolute;
     left: 0;
 }
 .menu>li:first-child::before{
     display: none;
 }
 .menu > li > a{
     text-decoration: none;
     color: #f4f4f4;
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
     padding-bottom: 18px;
 }
 .menu>li>a.active{
     border-bottom: 4px solid #ee252d;
     position: relative;
 }
 .menu>li>a.active::before{
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin: 0 auto;
     display: block;
     width: 0;
     height: 0;
     border: 7px solid transparent;
     border-bottom: 7px solid #ee252d;
 }
 .page{
     padding-top: ;
     padding-bottom: 100px;
 }
 .footer{
     background-image: url(../image/banner.png);
     padding: 1px 0;
     color: #ffffff;
     text-transform: uppercase;
     font: 20px;
     font-family: 'roboto', sans-serif ;
     text-align: center;
 }
 .text1{
     font-size: 45px;
     color: #f4f4f4 ;
     text-transform: uppercase;
     font-weight: 700;
     text-align: center;
     position: relative;
     padding-right: 127px;
     padding-left: 127px;
     margin-bottom: 20px;
 }
 .text{
     font-size: 20px;
     line-height: 30px;
     max-width: 570px;
     font-family: 'Robo', sans-serif;
 }
 .lop{
     position: absolute;
     right: 700;
     top: 1150px;
 }
 .fol{
     position: absolute;
     right: 600;
     top: 1200px;
 }
 .btu{
     display: block;
     color: #ffffff;
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
     text-transform: uppercase;
     border: 2px solid #ffffff;
     padding: 16px 0;
     max-width: 2000px;
     text-align: center;
     margin-left: 620px;
     margin-right: 600px;
     margin-top: 400px;
 }
 .btt{
     display: block;
     color: #ffffff;
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
     text-transform: uppercase;
     border: 2px solid #ffffff;
     padding: 16px 0;
     max-width: 2000px;
     text-align: center;
     margin-left: 620px;
     margin-right: 600px;
     margin-top: 400px;
 }
 .pol{
     position: absolute;
     right: 710;
     top: 1600px;
 }
 .hol{
     position: absolute;
     right: 600;
     top: 1650px;
 }
 .fff{
     bottom: auto;
 }
 .f{
     position: absolute;
     right: 1250;
     top: 100px;
     font-family: 'Robo', sans-serif;
     font-size: 30px;
 }
 .l{
     position: absolute;
     right: 1185;
     top: 200px;
 }
 .btr{
     display: block;
     color: #ffffff;
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
     text-transform: uppercase;
     border: 2px solid #ffffff;
     padding: 16px 0;
     max-width: 2000px;
     text-align: center;
     margin-left: 620px;
     margin-right: 400px;
     margin-top: 200px;
 }